@page "/movies/create"
@inject NavigationManager navManager
            

<h3>CreateMovie</h3>

<MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres"/>

@code {
        private Movie Movie = new Movie();

        private List<Genre> NotSelectedGenres = new List<Genre>() {
        new Genre() {Id = 1, Name = "Action"},
        new Genre() { Id = 2, Name = "Comedy"},
        new Genre() { Id = 3, Name = "Drama"}
    };

    private void SaveMovie()
    {
        // Saveing movie...
        Console.WriteLine("This works");
        //navManager.NavigateTo("movie");
    }
}
